
.Rproj.user/405B2A01/sources/prop/1AEBE36C

.Rproj.user/405B2A01/sources/prop/1B698486

.Rproj.user/405B2A01/sources/prop/C3959C2C

.Rproj.user/405B2A01/sources/prop/E4CB2522

.Rproj.user/405B2A01/sources/prop/FDD8B8BB

.Rproj.user/405B2A01/sources/prop/INDEX

.Rproj.user/405B2A01/sources/s-CD8F489C/29C41978

.Rproj.user/405B2A01/sources/s-CD8F489C/29C41978-contents

.Rproj.user/405B2A01/sources/s-CD8F489C/6AB7CBE7-contents

.Rproj.user/405B2A01/sources/s-CD8F489C/B68D4027

.Rproj.user/405B2A01/sources/s-CD8F489C/B68D4027-contents

.Rproj.user/405B2A01/sources/s-CD8F489C/F323D691

.Rproj.user/405B2A01/sources/s-CD8F489C/F323D691-contents

.Rproj.user/405B2A01/sources/s-CD8F489C/FD54567F-contents

.Rproj.user/405B2A01/sources/s-CD8F489C/lock_file

.Rproj.user/shared/notebooks/patch-chunk-names

.Rproj.user/shared/notebooks/paths

PiADwRProject.Rproj
